#gallery {
    height: 500px;
    width: 800px;
    position: relative;
}

#gallery img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#image {
    display: none;

}

#gallery .active {
    display: block;
}


h2 {
    position: absolute;
    right: 20px;
    top: 5px;
    color: white;
}

p {
    position: absolute;
    top: 50px;
    right: 20px;
    color: white;
}